/* Fonts */

/* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Ubuntu", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Général */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.header ul {
    display: flex;
    gap: 80px;
    align-items: center;
    list-style: none;
}

.header ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #f9faf8;
    text-decoration: none;
    padding: 25px;
}

.header ul li a:hover {
    background-color: #2c384a;
    transition: 0.3s;
    text-decoration: underline;
}

.header ul li .fa-solid {
    font-size: 40px;
    color: #f9faf8;
}

/* Content 1 */

.content-1 {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-family: "Ubuntu", sans-serif;
}

.content-1 .content-1-1 {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.content-1 .photo-moi {
    border-radius: 8px;
    width: 25%;
}